<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my app</title>
</head>
<body>
    <h1>just an API app</h1>
    <form action="/create" method="POST">
        <label for="">enter your name</label>
        <label for="nickname"><input type="text" id="nickname" name="nickname">
        <label for="">tell somthig about you</label>
        <label for="description"><input type="text" id="description" name="description">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>